<div id="logoUserScreen">
  <%= image_tag('SeeTheseMoviesLogo.png') %>
</div>

<h1>Already Watched List</h1>

<ul>
  <% @poster.each do |result| %>
    <li>
      <div class="movieRecommendations">
        <%= link_to result['title'], watch_list_path(result['title'].gsub(/-/, '')) %>
      </div>
      <% movie_title = result['title'].gsub(/-/, '') %>
      <%= link_to image_tag("#{result['posters']['detailed']}", :size => '200x297', :class => "indexPoster" ), already_watched_list_path(movie_title) %>
    </li>
  <% end %>
</ul>


<div class="listIndexOptions">
  <%= button_to "Go To User Screen", user_screen_index_path, :method => :get, :class => "btn optionButton" %>
</div>


