// Place all the styles related to the user_screen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo_pic {
  width: 200px;
  height: 111px;
  float: right;
}