<h1>Watch List</h1>

<div class="listIndexOptions">
  <%= button_to "Go To User Screen", user_screen_index_path, :method => :get, :class => "optionButton" %>
</div>

<ul>
  <% @poster.each do |result| %>
    <li>
      <div class="movieRecommendations">
        <%= link_to result['Title'], watch_list_path(result['Title']) %>
      </div>
      <% movie_title = result['Title'] %>
      <%= link_to image_tag("#{result['Poster']}", :size => '200x297', :class => "indexPoster" ), watch_list_path(movie_title) %>
    </li>
  <% end %>
</ul>



