<div id="logoUserScreen">
  <%= image_tag('SeeTheseMoviesLogo.png') %>
</div>


<h1>Watch List</h1>



<ul>
  <% @poster.each do |result| %>
    <li>
      <div class="movieRecommendations">
        <%= link_to result['Title'], watch_list_path(result['Title']) %>
      </div>
      <% movie_title = result['Title'] %>
      <%= link_to "<img src='#{result['Poster']}' class='indexPoster' />".html_safe, watch_list_path(movie_title) %>
    </li>
  <% end %>
</ul>

<div class="listIndexOptions">
  <%= button_to "Go To User Screen", user_screen_index_path, :method => :get, :class => "btn optionButton" %>
</div>



