
<div id="logo">
  <%= image_tag('SeeTheseMoviesLogo.jpg', :class => "logo_pic") %>
</div>
<h1>Welcome to Your User Screen</h1>

<button><%= link_to "Watch List", watch_list_index_path %></button>

<br>

<button>Already Watched List</button>

<br>

<button><%= link_to "Recommend Movies", recommendation_search_index_path %></button>